!!! 5
%head
  %title PONG
  = stylesheets
  = javascripts
  = "<script type=\"text/javascript\"> window.num_players = #{@num_players}; </script>"
%body
  #container
    %canvas#pong_table
    #menu.center
      = partial @layout[:menu]
